
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirigir todas las solicitudes a index.html excepto para archivos existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
    
    # Configuración CORS para desarrollo
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Accept"
</IfModule>
